.homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-wrapper p {
  font-size: 1.4em;
}

.link {
  border: 3px solid;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  color: #58b8c6;
}

.link:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 35px;
}
